<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= f.input :email %>
<%= f.input :password %> <!-- by specifying passowrd, simple form is smart enough to give use a password field
   -->
  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean %></div>
  <% end -%>

  <div><%= f.button :submit %></div>
<% end %>

<%= render "devise/shared/links" %>
